body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
}
h1{
    color: rgb(30, 158, 197);
}
.contenedor{
    background-color: white;
    width: 100%;
    max-width: 900px;
    padding-left: 20px;
    height: 100%;
    min-height: 800px;
}
.pieFoto{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 12px;
    color: darkblue;
}